<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Style/feedbackStyle.css">
</head>
<body>
    <header class="feedback">
        <div class="container">
            <H1 class="Title" id="title">ReshiKa feedback</H1>
            <div class="messages" id="messages">
                <H3 class="startMessage" id="startMessage">Your message has been sent.</H3>
            </div>
            <label class="message-area" id="message-area">
                <textarea placeholder="Type your message here" class="message" id="message"></textarea>
                <button class="send-button" id="send-button">Send</button>
            </label>
        </div>
    </header>
    <script src="../Controll/FeedBack.js"></script>
</body>
</html>