<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../Style/homeStyle.css">
</head>
<body id="body" class="body">
    <header class="header">
        <nav id="navbar" class="navbar">
            <div class="navbar-container">
            <h1 class="logo" id="logo">РешиКа</h1>
            <ul class="nav-list">
                <a href="home.html"  class="nav-element">Home</a>
                <a href="profile.html" class="nav-element">Profile</a>
            </ul>
            </div>
            <div class="auth-container">
                <p class="auth" id="auth">Logged in as </p><strong class="user-name" id="user-name">UserName</strong>
            </div>
        </nav>
    </header>
    <header class="secondHeader" id="secondHeader">
        <div class="secondHeader-container">
            <h2 class="title" id="title">Tasks</h2>
            <div id="create-content" class="create-content">
                <div class="crt-container">
                    <button class="create-content-button" id="create-content-button">
                        +  Create Task
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div id="container" class="container">
        <div class="content-container" id="content-container">
            <div class="content">
                <h3 class="task-title">Разработка REST API</h3>
                <div class="task-user">
                    <p class="user-task"> user_12 </p>
                    <p class="data-task"> 5 min ago </p>
                </div>
                <p class="task"> Как создать REST API для веб-приложения? Какие инструменты и технологии лучше использовать?</p>
                <nav class="task-info">
                    <p class="task-data">109 views</p>
                    <li class="answers">answers</li>
                </nav>
            </div>
            <div class="content">
                <h3 class="task-title">Оптимизация сортировки</h3>
                <div class="task-user">
                    <p class="user-task"> user_6 </p>
                    <p class="data-task"> 21.12.24 </p>
                </div>
                <p class="task"> Какой алгоритм сортировки лучше использовать для обработки больших массивов данных?</p>
                <nav class="task-info">
                    <p class="task-data">25 views</p>
                    <li class="answers">answers</li>
                </nav>
            </div>
            <div class="content">
                <h3 class="task-title">Лучшие практики безопасности</h3>
                <div class="task-user">
                    <p class="user-task"> user_2 </p>
                    <p class="data-task"> 5 days ago </p>
                </div>
                <p class="task">  Как защитить веб-приложение от атак SQL-инъекций и XSS?</p>
                <nav class="task-info">
                    <p class="task-data">32k views</p>
                    <li class="answers">answers</li>
                </nav>
            </div>
            <div class="content">
                <h3 class="task-title"> React vs Vue</h3>
                <div class="task-user">
                    <p class="user-task"> user_46 </p>
                    <p class="data-task"> 13.01.25 </p>
                </div>
                <p class="task">   Какие плюсы и минусы у React и Vue? Какой фреймворк выбрать для нового проекта?</p>
                <nav class="task-info">
                    <p class="task-data">97 views</p>
                    <li class="answers">answers</li>
                </nav>
            </div>
            <div class="content">
                <h3 class="task-title">Написание Telegram-бота</h3>
                <div class="task-user">
                    <p class="user-task"> user_1 </p>
                    <p class="data-task"> 9 hours ago </p>
                </div>
                <p class="task">  Как создать Telegram-бота на Python с использованием библиотеки aiogram?</p>
                <nav class="task-info">
                    <p class="task-data">24 views</p>
                    <li class="answers">answers</li>
                </nav>
            </div>
        </div>

    </div>
    <header class="create-content-header" id="create-content-header" style="display: none;">
        <div class="create-container" id="create-container">
            <h1 class="task-title">write your question</h1>
            <label class="label">
                <textarea class="input-field-title" name="question" id="input-question-title"></textarea>
            </label>
            <h3 class="task">write your question</h3>
            <label class="label">
                <textarea class="input-field" name="question" id="input-question"></textarea>
            </label>
            <button class="publish-button" id="publish-button">Publish</button>
        </div>
    </header>
    <script src="../Controll/homeScript.js" type="module"></script>
</body>
</html>