<!DOCTYPE html>
<html lang="en" class="root">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../Style/indexStyle.css">
</head>
<body class="body">
    <div class="authentication-container">
        <div class="login-button-container">
            <button class="btn active-btn login-btn" id="login-btn">Login
            </button>
            <button class="btn non-active-btn register-btn" id="register-btn">
                Signup
            </button>
        </div>
        <div class="login-form-container">
            <H1 class="form-title" id="form-title">Welcome back</H1>
            <h3 class="fieldset-title">username</h3>
            <label class="label">
                <input type="text" class="fieldset user-name" id="username">
            </label>
            <h3 class="fieldset-title">password</h3>
            <label class="label">
                <input type="password" class="fieldset password" id="password">
            </label>
            <h3 class="fieldset-title" id="repeat-pass-title" style="display: none">repeat password</h3>
            <label class="label" id="repeat-password-label" style="display: none">
                <input type="password" class="fieldset repeat-password" id="repeat-password">
            </label>
            <button class="form-login-button" id="log-sign-btn">login</button>
            <button class="form-login-button tg-login-btn" id="sign-with_tg-btn">LogIn with telegram</button>
        </div>
    </div>
    <div class="description-container">
        <h2 class="description">Join our community of problem solvers. Share your challenges, find solutions, and help others learn. Track your progress and build your reputation through helpful contributions.</h2>
    </div>
    <script src="../Controll/indexScript.js"></script>
</body>
</html>