<!DOCTYPE html>
<html lang="en" class="root">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Style/indexStyle.css">
</head>
<body class="body">
    <div class="authentication-container">
        <div class="login-button-container">
            <div class="login-button">
                <a class="login-button-link" href="#"
                onclick="this.style.background=' #f4f4f4'">login</a>
            </div>
            <div class="signup-button">
                <a class="signup-button-link" href="#">signup</a>
            </div>
        </div>
        <div class="login-form-container">
            <H1 class="forum-title">Welcome back</H1>
            <h3 class="user-name-text">username</h3>
            <label class="label">
                <input type="text" class="user-name-fieldset">
            </label>
            <h3 class="password-text">password</h3>
            <label class="label">
                <input type="password" class="password-fieldset">
            </label>
            <button onclick="window.location.href='home.html'" class="form-login-button">login</button>
        </div>
    </div>
    <div class="description-container">
        <h2>jasdsadsdas</h2>
    </div>
    <script src="../Controll/indexScript.js"></script>
</body>
</html>