<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Style/profileStyle.css">
</head>
<body class="body">
<header class="header">
    <nav id="navbar" class="navbar">
        <div class="navbar-container">
            <h1 class="logo" id="logo">РешиКа</h1>
            <ul class="nav-list">
                <a href="home.html"  class="nav-element">Home</a>
                <a href="profile.html" class="nav-element">Profile</a>
            </ul>
        </div>
        <div class="auth-container">
            <p class="auth" id="auth">Logged in as <strong class="user-name">UserName</strong></p>
        </div>
    </nav>
</header>
</body>
</html>